on:
  workflow_dispatch:
  push:
    branches: [main]
permissions:
  id-token: write
  contents: read
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
          check-latest: true
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::407461997746:role/github-actions-Role-56IHHM969DKJ
          aws-region: eu-west-2
      - name: Create and validate JSON secrets
        run: |
          echo '${{ secrets.GOOGLE_CREDENTIALS_FILE }}' > credentials.json
          if ! jq -e . credentials.json >/dev/null; then
            echo "Error: credentials.json is not a valid JSON file!"
            exit 1
          fi
          echo "credentials.json is valid."
          echo '${{ secrets.GOOGLE_TOKEN_FILE }}' > token.json
          if ! jq -e . token.json >/dev/null; then
            echo "Error: token.json is not a valid JSON file!"
            exit 1
          fi
          echo "token.json is valid."
        shell: bash
      - run: make deploy
